
    
 

<ion-content class="background">

  <header>
    
    <img width="102" height="88"  src="/assets/tese.png"/>
    <nav id="mainnav" role="navigation">
      <ul>
        
        <li><a  [routerLink]="['gdatos']"><img width="80" height="80" src="https://img.icons8.com/wired/64/save.png" alt="save"/><span>Guardar Datos</span></a></li>
        <li><a  [routerLink]="['genQR']"><img width="80" height="80" src="https://img.icons8.com/ios/50/edit-property.png" alt="edit-property"/><span>Generar lista de Registro</span></a></li>
        <li><a  [routerLink]="['GenListaregistro']"><img width="80" height="80" src="https://img.icons8.com/pastel-glyph/64/qr-code--v2.png" alt="qr-code--v2"/><span>Generar QR</span></a></li>
        <li><a  href="#"><img width="80" height="80" src="https://img.icons8.com/ios-filled/50/xbox-menu.png" alt="xbox-menu"/><span>Menu</span></a></li>
      </ul>
    </nav>
  </header>

  <section>
    <div class="container">
    <div class="message" >
      <p>El Tecnológico de Estudios superiores de Ecatepec, a través del <strong>Dr. José Antonio Arcos Casarrubias</strong>, Director General de esta casa de estudios, tiene el honor de invitarte al solemne acto con motivo de la</p>
      <p><span class="degree">ceremonia de investidura de grado</span> </p>
        <p class="ceremony"> <strong><em>Doctor Honoris Causa</em></strong></p>
      <p>al <strong>Dr. Juan Humberto Sossa Azuela</strong> </p>
      <p>Profesor e investigador emérito</p>
    </div>
  </div>
    
  </section>
</ion-content>